/* Ici le CSS qui concerne le header */
/*reset CSS a faire systematiquement */
*{
	margin: 0;
	padding: 0;
}
.headpart{
	height: 79px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.headleft{
	margin: 18px 50px 30px 48px;
}
.headright{
	width: 321px;
	line-height: 0em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-around;
	}
.logo{
	height: 19px;
	width: 61.09px;
}
.headlink{
	color: black;
	text-decoration: none;
	padding-top: 25px;
}
.headlink:hover{
	color: #0065FC;
	border-top: 2px blue solid;
}
/* Ici le CSS qui concerne le corps du document */

/* Ici le CSS qui concerne les premières lignes de texte */
h1,h2,p,a{
	font-family: 'Raleway', sans-serif;
}
h2{
	font-size: 22px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}
.searchtext{
	margin-bottom: 35px;
	line-height: 2em;
}
/* Ici le CSS qui concerne l'infogroup en général */
.infogroup{
	margin: 25px 0% 35px 50px;
}
/* Ici le CSS qui concerne la barre de recherche */
.pointer{
	background-color: #F2F2F2;
	height: 51px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px 0px 0px 15px;
}
.searchbar{
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-bottom: 35px;
}
.field{
	height: 49px;
	width: 190px;
	border: 1px #F2F2F2 solid;
}
input::placeholder{
	color: black;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}
.searchbutton{
	width: 135px;
	height: 50px;
	background-color: #0065FC;
	border: 1px #0065FC solid;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	font-weight: 700;
	border-radius: 0px 15px 15px 0px;
}
.magnifying_glass{
	visibility:hidden;
}
/* Ici le CSS qui concerne les filtres */
.filters{
	display: flex;
	flex-direction: row;
	width: 70%;
	margin-bottom: 35px;
}
.filtertext{
	margin-right: 7.5px;
	padding-bottom: 10px;
	font-size: 19px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.filterbuttons{
	display: flex;
	flex-direction: row;
	padding-bottom: 5px;
}
.button{
	border: 2px #D9D9D9 solid;
	border-radius: 25px;
	width: 170px;
	height: 50px;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0px 7.5px 0px 7.5px;
}
.button:hover{
	background-color: #DEEBFF;
}
.filter_icon{
	color: #0065FC;
}
.filterbuttons_text{
	font-size: 16px;
	font-weight: 700;
	margin-left: 5%;

}
/* Ici le CSS qui concerne la ligne d'informations */
.searchinfo{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}
.infobox{
	background-color: white;
	height: 20px;
	width: 20px;
	border: 1px grey solid;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	margin: 0px 10px 10px 0%;
}
.lei{
	color: #0065FC;
}
/* Ici le CSS qui concerne les différents champs de résultats */
.searchgroup{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
/* Ici le CSS qui concerne les offres principales */
.mainOffer{
	width: 60%;
	background-color: #F2F2F2;
	border: 1px #F2F2F2 solid;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.maintitle{
	width: 90%;
	margin: 2.5% 0% 0% 5%;
}
.order{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 30%;
	width: 90%;
	margin-left: 5%;
}
.card_main{
	background-color: white;
	border-radius: 25px;
	width: 30%;
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}
.card_main_link{
	color: black;
	text-decoration: none;
}
.card_main_photo{
	width: 96%;
	height: 50%;
	margin: 2% 2% 0% 2%;
}
img[class="photo"]{
 height: 100%;
 width: 100%;
 object-fit: cover;
 border-radius: 25px 25px 0px 0px;
}
.card_main_title,.card_main_body{
	padding: 5%;
	line-height: 2em;
}
.moreresults{
	font-size: 18px;
	font-weight: 700;
	margin: 0% 0% 2.5% 5%;
}
/*Ici l'offre populaire*/
.popular{
	width: 30%;
	background-color: #F2F2F2;
	border: 1px #F2F2F2 solid;
	border-radius: 15px;
}
.popular_title{
	width: 90%;
	margin: 5% 0% 0% 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.ratingbox{
	color: #0065FC;
	height: inherit;
}
.popular_body{
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 5%;
}
.card_popular{
	background-color: white;
	border-radius: 25px;
	height: 20%;
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);

}
.card_popular_link{
	color: black;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	width: 100%;
}
.card_popular_photo{
	height: 155px;
	width: 40%;
	margin: 2.5%;
}
img[class="sidephoto"]{
 height: 100%;
 width: 100%;
 object-fit: cover;
 border-radius: 25px 0px 0px 25px;
}
.card_popular_body{
	margin: 2.5%;
	line-height: 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.ranking{
	display: flex;
	flex-direction: row;
	margin-bottom: 7%;
}
.popular_ranking{
	display: flex;
	flex-direction: row;
}
.blue_star{
	color: #0065FC;
}
.grey_star{
	color:#F2F2F2
}
/*Ici le CSS concernant les activités*/
.activities{
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 5% 5% 0% 5%;
}
.activities_list{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.card_activities{
	width: 20%;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin: 2% 2% 2% 2%;
}
.card_activities_link{
	color: black;
	text-decoration: none;
}
.card_activities_photo{
	width: 100%;
	height: 85%;
}
.card_activities_title{
	margin: 5%;
	font-size: large;
	font-weight: 700;
}
img[class="activitiesphoto"]{
	height: 100%;
 	width: 100%;
 	object-fit: cover;
 	border-radius: 20px 20px 0px 0px;
}
/* Ici le CSS qui concerne le footer */
.foot{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	margin: 5% 5% 0% 5%;
	background-color: #F2F2F2;
}
.subfoot{
	display: flex;
	flex-direction: column;
	margin: 1% 2.5% 0% 2.5%;
	line-height: 1.8em;
}
.subfootLink{
	color: black;
	text-decoration: none;
	line-height: 1.8em;
}
/*Et maintenant les médias querries yeah ! */
@media all and (min-width: 1025px){
		.body{
			margin: 0 auto;
			width: 1440px;
		}
}
@media all and (min-width: 768px) and (max-width: 1024px){
	.filters{
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	
	}
	.filterbuttons{
		margin-left: 5%;
	}
	.searchgroup{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	}
	.order{
		height: 300px;
	}
	.offertext{
		margin-left: 5%;
	}
	.mainOffer,.popular{
		width: 90%;
		margin: 5%;
	}
	.popular_body{
		width: 95%;
		margin: 0% 0% 5% 2.5%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.sideoffer{
		background-color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 100%;
		width: 30%;
	}
	.sideofferphoto{
		height: 90%;
		flex: 40%;
		margin: 2.5% 0% 5% 2%;
	}
	.sideoffertext{
		flex: 55%;
	}
	.card_activities_photo{
		height: 78%;
	}
}
@media all and (max-width: 767px){
	/********** Header *************/
	.headpart{
		display: flex;
		flex-direction: column;
		margin-bottom: 35px;
	}
	.headleft{
		margin-left: 0%;
		align-self: center;
	}
	.headright{
		width: auto;
		display: flex;
		flex-direction: row;
	}
	.headlink{
		width: 50%;
		padding-top: 0px;
		padding-bottom: 15px;
		border-bottom:  2px #F2F2F2 solid;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.headlink:hover{
		border-top: 0px;
		border-bottom: 2px #0065FC solid;
	}
	/********** Section de recherche *************/
	.searchbar{
		margin: 0 auto;
	}
	.searchbutton{
		display: none;
	}
	.magnifying_glass{
		visibility: visible;
		background-color: #0065FC;
		border: 1px #0065FC solid;
		color: white;
		width: 50px;
		height: 50px;
		border-radius: 0px 15px 15px 0px;

	}
	/********** Filtres *************/
	.filters{
		width: auto;
		display: flex;
		flex-direction: column;
	}
	.filterbuttons{
		width: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.button{
		margin: 0% 5% 2.5% 0%;
		width: 40%;
	}
	/********** Recherche *************/
	.searchgroup{
		display: flex;
		flex-direction: column-reverse;
	}
	.popular{
		width: auto;
		border-radius: 0%;
	}
	.card_popular{
		height: 146px;
		margin: 15px 0px 15px 0px;
	}
	.card_popular_photo{
		height: 130px;
	}
	.mainOffer{
		width: auto;
		border: 1px white solid;
		background-color: white;
	}
	.card_main{
		width: auto;
		height: 300px;
		margin-bottom: 15px;
	}
	.order{
		display: flex;
		flex-direction: column;
	}
	.mainofferlink{
		width: auto;
		box-shadow: 5px 5px 5px #F2F2F2;
	}
	.activities_list{
		display: flex;
		flex-direction: column;
	}
	.card_activities{
		width: auto;
		height: 275px;
	}
	.card_activities_link{
		width: auto;
	}
	.foot{
		width: 100%;
		margin-left: 0;
		display: flex;
		flex-direction: column;
	}
	.subfoot{
		margin: 25px;
		gap: 5px;
	}
}
